@model WebApplication1.Models.usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar</h1>

<h4>Usuário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomeUsuario" class="control-label"></label>
                <input asp-for="nomeUsuario" class="form-control" />
                <span asp-validation-for="nomeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="arroba" class="control-label"></label>
                <input asp-for="arroba" class="form-control" />
                <span asp-validation-for="arroba" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profissao" class="control-label"></label>
                <input asp-for="profissao" class="form-control" />
                <span asp-validation-for="profissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailUsuarios" class="control-label"></label>
                <input asp-for="emailUsuarios" class="form-control" />
                <span asp-validation-for="emailUsuarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
